{{define "title"}}Auth Service - Changes{{end}}

{{define "content"}}

<script type="text/javascript" src="/static/js/change_log.js"></script>

<template id="change-log-row-template">
  <tr>
    <td class="change-log-rev">
      <a href="#"></a>
    </td>
    <td class="change-log-type">
      <span class="view-change" style="cursor: pointer;">
      </span>
    </td>
    <td class="change-log-when"></td>
    <td class="change-log-who"></td>
    <td class="change-log-target">
      <a href="#"></a>
    </td>
  </tr>
</template>

<template id="change-log-header-template">
  <h3 style="margin-top: 10px; text-align: center;">
    <a href="#"></a>
    <small class="text-muted"></small>
  </h3>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
</template>

<div class="container">
  <div id="loading-box-placeholder"></div>

  <div id="change-log-content" style="display: none;">
    <div id="change-log-header">
      <!-- Load change-log-header-template -->
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 80px">Rev</th>
          <th scope="col" style="width: 250px">Change</th>
          <th scope="col" style="width: 200px">When</th>
          <th scope="col" style="width: 280px">Who</th>
          <th>What</th>
        </tr>
      </thead>
      <tbody id="change-log-body">
        <!-- Load change-log-row-template -->
      </tbody>
    </table>

    <hr>
    <nav id="change-log-pager">
      <ul class="pagination justify-content-between">
        <li id="prev" class="page-item">
          <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span> Newer</a>
        </li>
        <li id="next" class="page-item">
          <a class="page-link" href="#">Older <span aria-hidden="true">&raquo;</span></a>
        </li>
      </ul>
    </nav>
  </div>

</div>

<div class="modal fade" id="change-log-details" tabindex="-1" role="dialog" aria-labelledby="title-label"
  aria-hidden="true">
  <dic class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="title-label">Change Details</h4>
      </div>
      <div class="modal-body">
        <pre id="details-text"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </dic>
</div>

{{end}}