{{define "title"}}CrIA v2{{end}}

{{define "content"}}
<h3>Welcome to CrIA v2!</h3>
<p>This will replace Chrome infra auth
  <ul>
    <li>
      <a href="https://chrome-infra-auth.appspot.com/auth/api">
        CrIA v1
      </a>
    </li>
  </ul>
</p>

<p>You are logged in as <span id="self-info">...</span></p>

<p>
  <a id="logout-btn" class="btn btn-primary" href="{{.LogoutURL}}">Logout</a>
</p>
{{end}}

{{define "script"}}
<script type="text/javascript">
(function() {
  'use strict';

  api.call('auth.service.Accounts', 'GetSelf').
    then(resp => {
      document.querySelector('#self-info').innerText = resp.identity;
    }).
    catch(err => { console.log(err); });

})();
</script>
{{end}}
