{{define "title"}}CrIA v2{{end}}

{{define "content"}}

<script type="text/javascript" src="/static/js/ip_allowlists.js"></script>

<div class="container d-grid px-0 py-2" id="content-box">
  <div class="card">
    <div class="card-header">IP Allowlists</div>
    <div class="card-body" style="padding: 2rem">
      <div class="row mb-4">
        <select class="form-select" id="allowlist-selector">
        </select>
      </div>
      <div class="row mb-4" style="font-family: monospace">
        <textarea class="form-control" rows="5" name="subnets" readonly="" wrap="off"></textarea>
      </div>
      <div class="row">
        <hr/>
        <p>
          The configuration is distributed by
          <a target="_blank" href="https://luci-config.appspot.com">
            luci-config
          </a>
          . Using revision
          <a target="_blank" href="#" style="font-family: monospace">
            1234
          </a>.
        </p>
      </div>
    </div>
  </div>
</div>
{{end}}
