{{define "title"}}CrIA v2{{end}}

{{define "content"}}

<script type="text/javascript" src="/static/js/ip_allowlists.js"></script>

<!-- Fix margins on this container -->
<div class="container px-0 py-2" id="content-box">
  <div class="card">
    <div class="card-header">IP Allowlists</div>
    <div class="card-body" style="padding: 2rem">
      <div class="row mb-4">
        <select class="form-select" id="allowlist-selector">
        </select>
      </div>
      <div id="allowlist-pane">
        <div class="row mb-4">
          <label>Description</label>
          <input id="description-box" type="text" class="form-control" readonly="" name="description"></input>
        </div>
        <div class="row mb-4 font-monospace">
          <textarea id="subnet-box" class="form-control" rows="5" name="subnets" readonly="" wrap="off"></textarea>
        </div>
      </div>
      <div class="row">
        <hr/>
      </div>
      <div class="d-flex flew-row my-2">
        <div class="me-1">
          The configuration is distributed by
          <a target="_blank" href="https://luci-config.appspot.com">luci-config</a>.
        </div>
        <div id="revision-details">
          Using revision
          <a class="font-monospace" target="_blank"></a>.
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
