{{define "title"}}CrIA v2{{end}}

{{define "content"}}

<script type="text/javascript" src="/static/js/lookup.js"></script>

<!-- Fix margins on this container -->
<div class="container px-0 py-2" id="content-box">
    <div class="row mb-2">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div class="row">
      <hr/>
      <p>
        The configuration is distributed by
        <a target="_blank" href="https://luci-config.appspot.com">
          luci-config
        </a>
          . Using revision
        <a target="_blank" href="#" style="font-family: monospace">
          1234
        </a>.
      </p>
    </div>
</div>
{{end}}
