{{define "title"}}Auth Service - Lookup{{end}}

{{define "content"}}

<style>
  .popover {
    max-width: 100%;
  }

  .popover-body {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
</style>

<script type="text/javascript" src="/static/js/lookup.js"></script>

<div class="container px-0 py-2" id="content-box">

  <!-- Search bar. -->
  <div id="search-bar" class="row my-2">
    <div class="input-group">
      <input class="form-control" type="search" aria-label="Search" placeholder="An email or group name" disabled>
      <button type="button" class="btn btn-outline-secondary" disabled>
        <i class="bi bi-search" style="font-size: 16px; color: #333"></i>
      </button>
    </div>
  </div>

  <!-- Placeholder for loading box. -->
  <div id="loading-box-placeholder"></div>

  <!-- Placeholder for lookup results. -->
  <div id="all-results"></div>

  <!-- Placeholder for lookup error. -->
  <div id="api-error-placeholder" class="my-4"></div>

</div>


<template id="all-results-template">
  <div class="row my-2">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  <!-- The principal being searched. -->
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        <a id="principal-header"></a>
      </h3>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <!-- Groups the principal is directly in. -->
    <div class="col-md-6">
      <h4>Directly included by</h4>
      <div id="direct-groups" class="group-results">
        <div class="text-secondary">
          <p><i>None</i></p>
        </div>
      </div>
    </div>

    <!-- Groups the principal is indirectly in. -->
    <div class="col-md-6">
      <h4>Indirectly included by</h4>
      <div id="indirect-groups" class="group-results">
        <div class="text-secondary">
          <p><i>None</i></p>
        </div>
      </div>
    </div>
  </div>
</template>


<template id="result-template">
  <div>
    <a></a>
  </div>
</template>


{{end}}