// To update this file run `update.sh`.

module protoc-gen-go-env.example.com

go 1.24.0

tool github.com/golang/protobuf/protoc-gen-go

require (
	github.com/golang/protobuf v1.5.4 // indirect
	google.golang.org/protobuf v1.33.0 // indirect
)
