[access]
	inheritFrom = infra
[submit]
	action = rebase always
[label "Code-Review"]
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	ignoreSelfApproval = true
