# Schema for this config file: ProjectConfig in
# luci-config.appspot.com/schemas/projects:tricium-prod.cfg

acls {
  role: REQUESTER
  group: "tricium-infra-requesters"
}

selections {
  function: "GitFileIsolator"
  platform: UBUNTU
}

selections {
  function: "Gosec"
  platform: UBUNTU
  configs {
    name: "disable"
    value: "G204,G304"
  }
}

selections {
  function: "Spacey"
  platform: UBUNTU
}

selections {
  function: "SpellChecker"
  platform: UBUNTU
}

repos {
  gerrit_project {
    host: "chromium-review.googlesource.com"
    project: "infra/luci/luci-go"
    git_url: "https://chromium.googlesource.com/infra/luci/luci-go"
  }
}

service_account: "tricium-prod@appspot.gserviceaccount.com"

swarming_service_account: "swarming@tricium-prod.iam.gserviceaccount.com"
