{{define "title"}}{{.Build.Summary.Label}}{{end}}

{{define "head"}}{{end}}

{{define "body"}}
  <div class="content">
    <h1>{{.Build.Summary.Label}}</h1>

    <div class="column">

      <h2>Results:</h2>
      {{ if eq .Build.Summary.Status.String "Running" }}
        <p class="running result">Build running
      {{ else if eq .Build.Summary.Status.String "Success" }}
        <p class="success result">Build successful
      {{ else if eq .Build.Summary.Status.String "InfraFailure" }}
        <p class="exception result">Internal Failure
      {{ else if eq .Build.Summary.Status.String "Failure" }}
        <p class="failure result">Failed
      {{ else }}
        <p class="failure result">Unknown status {{.Build.Summary.Status.String }}
        <!--- TODO(hinoka): step text -->
      {{ end }}
      <span class="subtitle">
        {{ range .Build.Summary.Text }}{{ . }}{{ end }}
      </span>
      </p>


      {{ if .Build.SourceStamp }}
      {{ with .Build.SourceStamp }}

      <h2>SourceStamp:</h2>

      <table class="info" width="100%">

      {{ if .Commit.Repo }}
        <tr><td class="left">Repository</td><td>{{ .Commit.Repo }}</td></tr>
      {{ end }}

      {{ if .Commit.Branch }}
        <tr><td class="left">Branch</td><td>{{ .Commit.Branch }}</td></tr>
      {{ end }}

      {{ if .Commit.RequestRevision }}
        <tr><td class="left">Revision</td><td>{{ .Commit.RequestRevision }}</td></tr>
      {{ end }}

      {{ if .Commit.Revision }}
        <tr><td class="left">Got Revision</td><td>{{ .Commit.Revision }}</td></tr>
      {{ end }}

      {{ if .Commit.ChangelistURL }}
        <tr><td class="left">Patch</td><td><a href="{{.Commit.ChangelistURL}}">YES</a></td></tr>
      {{ end }}

      </table>
      {{ end }}  <!-- with -->
      {{ end }}  <!-- if -->

      {{ if .Build.Summary.Bot }}
      <h2>Execution:</h2>
      <a href="{{ .Build.Summary.Bot.URL }}">{{ .Build.Summary.Bot.Label }}</a>
      {{ end }}

      {{ if .Build.SourceStamp }}
        {{ if .Build.SourceStamp.Source }}
          <h2>Reason:</h2>
          <p>{{ .Source }}</p>
        {{ end }}
      {{ end }}

      <h2>Steps and Logfiles:</h2>
      <ol>
        {{ range .Build.Components  }}
        <li>
          <div class="status-{{.Status}} result">
            <b>{{.Label}}</b>
            {{ range .Text }} {{ . }} {{ end }}
            &nbsp;<span style="float:right">( {{ .Duration | humanDuration }} )</span>
          </div>
          <ul>
            {{ if .MainLink }}
              <li><a href="{{.MainLink.URL}}">{{.MainLink.Label}}</a></li>
            {{ end }}
            {{ range .SubLink }}
              <li><a href="{{.URL}}">{{.Label}}</a></li>
            {{ end }}
            {{ if not (or .MainLink .SubLink) }}
              <li> - no logs - </li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ol>

    </div>

    <div class="column">

      <h2>Build Properties:</h2>

      <table class="info" width="100%">
      <tr><th>Name</th><th>Value</th><th>Source</th></tr>

        {{ range .Build.PropertyGroup }}
        {{ $name := .GroupName }}
          {{ range .Property }}
            <tr>
              <td class="left">{{.Key}}</td>
              <td>
                {{ if (eq .Key "requestedAt") }}
                  {{ .Value | humanTimeRFC }}
                {{ else if (eq .Key "blamelist") }}
                  {{ .Value | obfuscateEmail }}
                {{ else if (startswith .Value "https://") }}
                  <a href="{{.Value}}">{{.Value}}</a>
                {{ else }}
                  {{.Value}}
                {{ end }}
              </td>
              <td>{{$name}}</td>
            </tr>
          {{ end }}
        {{ end }}
      </table>

      {{ if .Build.Blame }}
        <h2>Blamelist:</h2>
        <ol>
        {{ range .Build.Blame }}
          <li>{{ .AuthorName }} ({{ .AuthorEmail | obfuscateEmail }})</li>
        {{ end }}
        </ol>
      {{ end }}

      <h2>Timing:</h2>
      <table class="info" width="100%">
        <tr class="alt"><td class="left">Start</td>
        <td>
          <span id="started-time">{{ .Build.Summary.Started | humanTimeRFC }}</span>
        </td></tr>
        <tr><td class="left">End</td>
        <td>
          <span id="finished-time">{{ .Build.Summary.Finished | humanTimeRFC }}</span>
        </td></tr>
        <tr class="alt"><td class="left">Elapsed</td>
        <td id="duration">
          {{ .Build.Summary.Duration | humanDuration }}
        </td></tr>
      </table>

    </div>

    {{ if .Build.Blame}}
    <div class="column">
      <h2>All Changes:</h2>
      <ol>
      {{ range .Build.Blame }}
      <li>
        <h3>{{.Title}}</h3>
        <!--- TODO(hinoka): Layout the rest of this -->
      </li>
      {{ end }}
      </ol>
    </div>
    {{ end }}

  </div>
</div>
{{end}}

{{define "after_body"}}
<script>
(function() {
  'use strict';
  var startedSpan = document.getElementById('started-time');
  var finishedSpan = document.getElementById('finished-time');
  startedSpan.textContent = milo.formatDate('{{ .Build.Summary.Started }}');
  finishedSpan.textContent = milo.formatDate('{{ .Build.Summary.Finished }}');
})();
</script>
{{end}}
