{{define "title"}}Buildbot: builds Build #{{ .Navi.PageTitle.Label }}{{end}}

{{define "script"}}{{end}}

{{define "body"}}
  <div class="header">
    [Insert title here]
  </div>
  <hr/>
  <div class="content">
    <h1>[Insert title here]</h1>

    <div class="column">

      <h2>Results:</h2>

      <p class="success result">
        Build successful
      </p>

      <h2>Steps and Logfiles:</h2>
      <ol>
        {{ range .Build.Components  }}
        <li>
          <div class="status-{{.Status}} result">
            {{.Label}}
            {{ range .Text }} {{ . }} {{ end }}
            &nbsp;<span style="float:right">( 0 secs )</span>
          </div>
          <ul>
            <li><a href="{{.MainLink.URL}}">{{.MainLink.Label}}</a></li>
            {{ range .SubLink }}
              <li><a href="{{.URL}}">{{.Label}}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ol>

    </div>

    <div class="column">

      <h2>Build Properties:</h2>

      <table class="info" width="100%">
      <tr><th>Name</th><th>Value</th><th>Source</th></tr>

        {{ range .Build.PropertyGroup }}
        {{ $name := .GroupName }}
          {{ range .Property }}
            <tr>
              <td class="left">{{.Key}}</td>
              <td>{{.Value}}</td>
              <td>{{$name}}</td>
            </tr>
          {{ end }}
        {{ end }}
      </table>

      <h2>Timing:</h2>
      <table class="info" width="100%">
        <tr class="alt"><td class="left">Start</td>
          <td>
            {{ if .Build.Summary }}
              {{ $first := index .Summary 0 }}
              {{ $first.Started }}
            {{ else }}
              No Timing Info
            {{ end }}
          </td></tr>
        <tr><td class="left">End</td>
          <td>
            {{ if .Build.Summary }}
              {{ $first := index .Summary 0 }}
              {{ $first.Finished }}
            {{ else }}
              No Timing Info
            {{ end }}
          </td></tr>
        <tr class="alt"><td class="left">Elapsed</td>
          <td>
            {{ if .Build.Summary }}
              {{ $first := index .Summary 0 }}
              {{ $first.Duration }}
            {{ else }}
              No Timing Info
            {{ end }}
          </td></tr>
      </table>

    </div>
  </div>
</div>
{{end}}
