# Copyright (c) 2021 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Copy this file to config.cfg and edit it as needed for running the
# local development instance.  See the README in the parent directory
# for more details.

# For the schema of this file, see Config message:
# https://luci-config.appspot.com/schemas/services/chops-weetbix:config.cfg

monorail_hostname: "monorail-staging.appspot.com"
chunk_gcs_bucket: "chops-weetbix-dev-chunks"
reclustering_workers: 50
reclustering_interval_minutes: 5
