{{define "base"}}
<html>
<head>
  <title>{{block "title" .}}Machine DB{{end}}</title>
  {{block "head" .}}
  {{end}}
</head>

<body>
  <div>
    {{if .IsAnonymous}}
      <a href="{{.LoginURL}}">Login</a>
    {{else}}
      <span>{{.User.Email}}</span>
      <span> |</span>
      <a href="{{.LogoutURL}}">Logout</a>
    {{end}}
  </div>

  <div>
    {{block "content" .}}
    {{end}}
  </div>

  <footer>
    <hr style="margin: 10px 0px;">
    <p style="color: #cccccc; font-family: sans-serif; font-size: small;">
      Version: <span>{{.AppVersion}}</span>
    </p>
  </footer>
</body>

</html>
{{end}}
