# Copyright (c) 2024 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# Schema for this file: Config message in
# https://chromium.googlesource.com/infra/luci/luci-go/+/HEAD/resultdb/proto/config/config.proto

bq_artifact_export_config {
  enabled: true
  export_percent: 100
}
schemes {
  id: "junit"
  human_readable_name: "JUnit"
  coarse {
    human_readable_name: "Package"
  }
  fine {
    human_readable_name: "Class"
  }
  case {
    human_readable_name: "Method"
  }
}
schemes {
  id: "gtest"
  human_readable_name: "GoogleTest"
  fine {
    human_readable_name: "Suite"
  }
  case {
    human_readable_name: "Method"
  }
}

producer_systems {
  system: "buildbucket"
  name_pattern: "^builds/(?P<build_id>[0-9]+)$"
  data_realm_pattern: "^prod|test$"
  validate_callers: true
  url_template: "https://ci.chromium.org/ui/b/${build_id}"
  url_template_by_data_realm {
    key: "test"
    value: "https://luci-milo-dev.appspot.com/ui/b/${build_id}"
  }
}
