{{define "title"}}{{.ProjectID}} | Builder Groups{{end}}

{{define "head"}}
<link rel="stylesheet" href="/static/common/css/console.css" type="text/css">
{{end}}

{{define "body"}}
<h1>{{ .ProjectID }}</h1>
<h2>Builder Groups</h2>

<div class="console-column">
{{ range .Consoles }}
  <div class="console-builder-summary-flex">
    {{ if .Render.FaviconURL }}
      <img src="{{ .Render.FaviconURL }}" />
    {{ end }}
      <a class="console-header-name"
         href="/p/{{ .ProjectID }}/g/{{ .Def.Id }}/console"
         aria-label="console {{ .Def.Name }}">{{ .Def.Name }}</a>
      <a href="{{ .Def.RepoUrl }}">(repo)</a>
      <div class="console-builder-summary-grid">
      {{ .Render.ConsoleSummary }}
      </div>
  </div>
{{ else }}
  <h4>No builder groups defined.</h4>
{{ end }}
</div>

{{end}} <!-- Body -->
