{{define "title"}}Milo {{.ProjectName}} Consoles{{end}}

{{define "head"}}
{{ if .Reload }}
<meta http-equiv="refresh" content="{{ .Reload }}">
{{ end }}
<link rel="stylesheet" href="/static/common/css/console.css" type="text/css">
{{end}}

{{define "body"}}
<h1>{{ .ProjectName }} Consoles</h1>

<div class="console-column">
{{ range .Consoles }}
  <div class="console-title">
    {{ if .Render.FaviconURL }}
      <img src="{{ .Render.FaviconURL }}" />
    {{ end }}
      <a class="console-header-name"
         href="/console/{{ .Def.GetProjectName }}/{{ .Def.ID }}"
         aria-label="console {{ .Def.Title }}">{{ .Def.Title }}</a>
      <a href="{{ .Def.RepoURL }}/+/{{ .Def.Ref }}">(repo)</a>
    {{ .Render.ConsoleSummary }}
  </div>
{{ else }}
  <h4> No consoles defined </h4>
{{ end }}
</div>

{{end}} <!-- Body -->
