{{define "title"}}Milo{{end}}

{{define "head"}}
{{ if .Reload }}
<meta http-equiv="refresh" content="{{ .Reload }}">
{{ end }}

<style>

/* Generic */

.console-column {
  display: flex;
  flex-direction: column;
}

.console-row {
  display: flex;
  flex-direction: row;
}

/* Commits */

.console-commit-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.console-commit-column div:nth-child(even) {
  background-color: #eeeeee;
}

.console-commit-column div:nth-child(odd) {
  background-color: #f2f2f2;
}

.console-commit-item {
  display: flex;
  min-width: 2em;
  min-height: 2em;
  align-items: center;
  justify-content: left;
  white-space: nowrap;
  padding: 1px 1em 1px 1em;
  margin-right: -0.2em;
}

.commit {
  font-weight: bold;
}

/* Header */

.console-top-row {
  display: flex;
  flex-direction: row;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  margin-left: 0.2em;
  padding-right: 0.2em;
}

.console-top-item {
  display: flex;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid transparent;
  min-width: 2em;
  min-height: 2em;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin-left: 0.2em;
  padding-right: 0.2em;
  white-space: nowrap;
}

.console-space {
  display: flex;
  border: 1px solid transparent;
  min-width: 2em;
  min-height: 2em;
}

/* Builders */

.console-builder-column {
  display: flex;
  flex-direction: column;
}

.console-builder-column:last-of-type {
  margin-right: -0.2em;
}

.console-builder-item {
  display: flex;
  border: 1px solid silver;
  min-width: 2em;
  min-height: 2em;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin-top: 0.75em;
}

/* Builds */

.console-build-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.console-build-column div:nth-child(even) {
  background-color: #eeeeee;
}

.console-build-column div:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Table Cells */

.console-cell {
  display: flex;
  min-width: 2em;
  min-height: 2em;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
}

.console-cell-top {
  display: flex;
  min-width: 2em;
  min-height: 2em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
  padding-bottom: 1px;
}

.console-cell-middle {
  display: flex;
  min-width: 2em;
  min-height: 2em;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.console-cell-bottom {
  display: flex;
  min-width: 2em;
  min-height: 2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  padding-top: 1px;
}

.console-empty-cell {
  display: flex;
  border: 1px solid transparent;
  min-width: 2em;
  min-height: 2em;
}

.console-empty-cell:hover {
  cursor: default;
}
</style>
{{end}}

{{define "body"}}
{{ $console := .Console }}

<h1>{{ $console.Name }}</h1>

<!-- Container -->
<div class="console-row">

  <!-- Commits -->
  <div class="console-column" style="justify-content: flex-end">
    
    <div class="console-row">
      <div class="console-commit-column">
      {{ range $console.Commit }}
        <div class="console-commit-item">{{ .CommitTime | localTime "N/A" }}</div>
      {{ end }}
      </div>
      <div class="console-commit-column">
      {{ range $console.Commit }}
        <div class="console-commit-item">
          <a href="{{.Revision.URL}}">
            <span class="commit" title="{{ .Description }}">
              {{ .AuthorEmail }}
            </span>
          </a>
        </div>
      {{ end }}
      </div>
    </div>
  </div>

  <!-- Table -->
  {{ $console.ConsoleTable }}
</div>

<div class="epiloge" style="margin-top: 1em">
  (Show: 
  <a href="?numbuilds=">default</a>
  <a href="?numbuilds=25">25</a>
  <a href="?numbuilds=50">50</a>
  <a href="?numbuilds=100">100</a>
  <a href="?numbuilds=200">200</a>
  )
</div>

{{end}} <!-- Body -->
