{{define "title"}}Milo{{end}}

{{define "head"}}
<style>
th {
  border: 1px silver;
}
.commit {
  font-weight: bold;
}
</style>
{{end}}

{{define "body"}}
{{ $console := .Console }}

<h1>{{ $console.Name }}</h1>

<table>
  <thead>
    {{ $console.Header }}
  </thead>
{{ range $console.Commit }}
  <tr>
    <td>{{ .CommitTime | localTime "N/A" }}</td>
    <td>
      <a href="{{.Revision.URL}}">
        <span class="commit" title="{{.Description}}">
          ({{ .AuthorEmail }})
        </span>
      </a>
    </td>
    {{ range .Build }}
      {{ if . }}
        <td class="status-{{.Summary.Status.String}}">
          {{ . | $console.BuilderLink | linkify }}
        </td>
      {{ else }}
        <td></td>
      {{ end }}
    {{ end }}
  </tr>
{{ end }}
</table>

{{end}} <!-- Body -->
