{{define "title"}}{{ .Console.Name }} Console{{end}}

{{define "favicon"}}
  {{if .Console.FaviconURL}}
    <link rel="icon" type="{{ .Console.FaviconURL | faviconMIMEType }}" href="{{ .Console.FaviconURL }}" />
  {{else}}
    <link id="favicon" rel="shortcut icon" type="image/png" href="/static/common/favicon/milo-32.png">
  {{end}}
{{end}}

{{define "head"}}
  {{if .Reload}}
    <meta http-equiv="refresh" content="{{ .Reload }}">
  {{end}}
  <link rel="stylesheet" href="/static/common/css/console.css" type="text/css">
  <script src="/static/common/third_party/js/js.cookie.js"></script>
{{end}}

{{ define "controls" }}
(Show:
<a href="?limit=">default</a>
<a href="?limit=25">25</a>
<a href="?limit=50">50</a>
<a href="?limit=100">100</a>
<a href="?limit=200">200</a>
)
[
  <a href="#" class="control-expand">expand</a>
  <a href="#" class="control-collapse" style="display: none;">collapse</a>
]
{{ end }}

{{define "body"}}
{{ $console := .Console }}

<!-- Title -->
<div class="console-title">
{{ if $console.FaviconURL }}
  <img src="{{ .Console.FaviconURL }}" />
{{ end }}

  <h1>{{ $console.Name }}</h1>
</div>

<!-- Header -->
{{ if $console.Header }}
{{ $header := $console.Header }}

<!-- Tree Status -->
{{ with $header.TreeStatus }}
  <div class="tree-status tree-status-{{ .GeneralState }}">
    <a title="Last updated at {{ .Date }} by {{ .Username }}"
       href="{{ .URL }}"
       aria-label="Tree status: {{ .Message }}.  Last updated at {{ .Date }} by {{ .Username }}">
      {{ .Message }}
    </a>
  </div>
{{ end }}

<div class="console-header">
  <div class="console-header-column">

    <!-- Oncalls -->
    <div class="console-header-group">
      <div class="console-header-group-title">Oncalls</div>
      <div class="console-header-groups">
      {{ range $header.Oncalls }}
        <div class="console-header-oncalls-group">
          <div class="console-header-group-name">
            {{ .Name }}
          </div>
          <div class="console-header-group-content">
            {{ $numEmails := (len .Emails) }}
            {{ if gt $numEmails 0 }}
              {{ range $i, $email := .Emails }}
                <span>{{ . | shortenEmail | obfuscateEmail }}{{ if lt $i (sub $numEmails 1) }},{{ end }}</span>
              {{ end }}
            {{ else if .Primary }}
              <span>{{ .Primary }}</span>
              {{if .Secondaries }}
                (primary)
                {{ range .Secondaries }}
                  <span>, {{ . }}</span>
                {{ end }}
              {{ end }}
            {{ else }}
              <span>&lt;none&gt;</span>
            {{ end }}
          </div>
        </div>
      {{ end }}
      </div>
    </div>

    <!-- Links -->
    <div class="console-header-group">
      <div class="console-header-group-title">Links</div>
      <div class="console-header-groups">
      {{ range $header.Links }}
        <div class="console-header-links-group">
          <div class="console-header-group-name">{{ .Name }}</div>
          <div class="console-header-group-content">
          {{ range .Links }}
            <span>{{ .HTML }}</span>
          {{ end }}
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </div>

{{ if $header.ConsoleGroups }}
  <div class="console-header-column">
  {{ range $header.ConsoleGroups }}

    <!-- Header Group -->
    <!-- If the title is nil, don't wrap it in a special div. -->
    {{ if .Title }}
    <div class="console-header-group">
      <div class="console-header-group-title">
        {{ .Title.HTML }}
      </div>
    {{ end }}
      <div class="console-header-groups">
      {{ range .Consoles }}
        {{ if gt (len .Builders) 30 }}
        <div class="console-builder-summary-flex fill-row">
          <div class="console-header-name">
            {{ .Name.HTML }}
          </div>
          <div class="console-builder-summary-grid">
        {{ else }}
        <div class="console-builder-summary-flex">
          <div class="console-header-name">
            {{ .Name.HTML }}
          </div>
          <div class="console-builder-summary-flex">
        {{ end }}

            {{ $console_name := .Name.Link.Label }}

            {{ range .Builders }}
              <a class="console-builder-status"
                 href="{{ .LastFinishedBuildIDLink }}"
                 title="{{ .BuilderID }}"
                 aria-label="builder {{ .BuilderID }} on console {{ $console_name }} has last status {{ .LastFinishedStatus }}">
                <div class="console-header-builder status-{{ .LastFinishedStatus }}"></div>
              </a>
            {{ end }}
          </div>
        </div>
      {{ end }}
      </div>
    <!-- If the title is nil, don't wrap it in a special div. -->
    {{ if .Title }}
    </div>
    {{ end }}

  {{ end }}
  </div>
{{ end }}
</div>
{{ end }}

<!-- Legend -->
<div id="legend">
  <table>
    <tr>
      <td>Legend:&nbsp;&nbsp;</td>
      <td class="status-Success" title="All tests passed">Passed</td>
      <td class="status-Failure" title="There is a new failure. Take a look!">Failed</td>
      <td class="status-Warning" title="It was failing before, and is still failing. Make sure you did not introduce new regressions">Failed&nbsp;Again</td>
      <td class="status-Running" title="The tests are still running">Running</td>
      <td class="status-Exception" title="Something went wrong with the test, there is no result">Exception</td>
    </tr>
  </table>
</div>
<div class="clear"></div>

<!-- Container -->
<div id="console" class="console-row collapsed">
  <!-- Commits -->
  <div class="console-column console-commits-column">
    <div class="console-controls">
      {{ template "controls" }}
    </div>
    <div class="console-row">
      <div class="console-commit-column">
      {{ range $console.Commit }}
        <div class="console-commit-item">
          <div class="console-commit-summary">
            <div class="console-commit-revision">
              <a href="{{.Revision.URL}}" aria-label="revision {{ .Revision.Label | prefix 8 }}">
                {{ .CommitTime | localTimeTooltip (.Revision.Label | prefix 8) "N/A" }}
              </a>
            </div>
            <div class="console-commit-author">
              <span title="{{ .Description }}" aria-label="commit by {{ .AuthorEmail }}">
                {{ .AuthorEmail }}
              </span>
            </div>
          </div>
          <div class="console-commit-description">
            <div class="console-commit-description-overlay">
              <p>
                {{ range .DescLines }}
                  {{ . }}<br>
                {{ end }}
              </p>
            </div>
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </div>

  <!-- Table -->
  {{ $console.ConsoleTable }}
</div>

<div class="epiloge" style="margin-top: 1em">
  {{ template "controls" }}
</div>
<script>
$(function () {
  'use strict';
  $(".control-expand").click(function(e) {
    e.preventDefault();
    $("#console").removeClass("collapsed");
    let width = 0;
    $("#console > div").each(function() {
      width += $(this).width();
    });
    const sizes = [];
    $(".console-commit-description").each(function() {
      sizes.push($(this).height());
    });
    $(".console-build-column").each(function() {
      const containers = $(this).find(".console-cell-spacer");
      for (const i in sizes) {
        $(containers[i]).height(sizes[i]);
      }
    });
    $(".console-commit-description-overlay").width(width);
    $(".control-collapse").show();
    $(".control-expand").hide();
    Cookies.set('expand', 1);
  });
  $(".control-collapse").click(function(e) {
    e.preventDefault();
    $("#console").addClass("collapsed");
    $(".control-expand").show();
    $(".control-collapse").hide();
    Cookies.remove('expand');
  });
  if (Cookies.get('expand')) {
    $(".control-expand").first().click();
  }
});
</script>

{{end}} <!-- Body -->
