{{define "title"}}Milo {{.ProjectName}} Consoles{{end}}

{{define "head"}}
{{ if .Reload }}
<meta http-equiv="refresh" content="{{ .Reload }}">
{{ end }}
<link rel="stylesheet" href="/static/common/css/console.css" type="text/css">
{{end}}

{{define "body"}}
<h1>{{ .ProjectName }} Consoles</h1>

{{ range .Consoles }}
  <div style="margin-top: 3em" class="console-header">
  {{ if .Render.FaviconURL }}
    <img src="{{ .Render.FaviconURL }}" />
  {{ end }}
    <h2>
      <a href="/console/{{ .Def.GetProjectName }}/{{ .Def.ID }}">{{ .Def.ID }}</a>
    </h2>
  </div>
  <p> <b>Repo</b>: <a href="{{ .Def.RepoURL }}"> {{ .Def.RepoURL }} </a></p>
  <p> <b>Ref</b>: {{ .Def.Ref }} </p>
  <div class="console-row">
    {{ .Render.ConsoleTable }}
  </div>
{{ else }}
  <h4> No consoles defined </h4>
{{ end }}

{{end}} <!-- Body -->
