{{define "base"}}
<!DOCTYPE html>
<html>
<!-- Copyright 2015 The LUCI Authors. All rights reserved.
Use of this source code is governed under the Apache License, Version 2.0
that can be found in the LICENSE file. -->
<head><title>{{block "title" .}}Admin{{end}}</title></head>
<style>{{includeCSS "third_party/bootstrap/bootstrap.min.css"}}</style>
{{block "style" .}}{{end}}
<body>
<div class="container">
{{template "content" .}}
</div>
</body>
<script>{{includeJS "third_party/modal-vanilla/modal.min.js"}}</script>
</html>
{{end}}
