# swarming-start-bot - swarming bot startup

# Used to start the Swarming bot process via upstart.

description "swarming bot startup"

start on (filesystem and net-device-up IFACE!=lo)
stop on shutdown

script
  /usr/bin/sudo -H -u {{.User}} SWARMING_EXTERNAL_BOT_SETUP=1 /usr/bin/python {{.BotCode}} start_bot
end script
