# swarming-start-bot - swarming bot startup

# Used to start the Swarming bot process via systemd.

[Unit]
Description=Swarming bot startup
After=cloud-final.service

[Service]
Type=simple
User={{.User}}
LimitNOFILE=50000
Environment=SWARMING_EXTERNAL_BOT_SETUP=1
EnvironmentFile=-/etc/swarming/env
ExecStart= {{.Python}} {{.BotCode}} start_bot

[Install]
WantedBy=cloud-init.target
