# Replaces https://registry.npmjs.org in package-lock.json by running the
# following command.
# sed -i 's\https://registry.npmjs.org\https://npm.skia.org/luci-milo\g' package-lock.json
registry = https://npm.skia.org/luci-milo
