# Copyright (c) 2021 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Copy this file to chops-weetbix-dev.cfg and edit it as needed for running
# the local development instance.  See the README in the parent directory
# for more details.

# For the schema of this file, see ProjectConfig message:
# https://luci-config.appspot.com/schemas/projects:chops-weetbix.cfg

project_metadata {
  display_name: "Chromium"
}


bug_filing_threshold {
  presubmit_runs_failed {
    one_day: 3
    seven_day: 3
  }
}

monorail {
  project: "chromium"
  default_field_values {
    field_id: 10
    value: "Bug"
  }
  priority_field_id: 11
  priorities {
    priority: "0"
    threshold {
      presubmit_runs_failed {
        one_day: 20
      }
    }
  }
  priorities {
    priority: "1"
    threshold {
      presubmit_runs_failed {
        one_day: 10
      }
    }
  }
  priorities {
    priority: "2"
    threshold {
      presubmit_runs_failed {
        one_day: 2
      }
    }
  }
  priorities {
    priority: "3"
    threshold {
      # Clusters which fail to meet this threshold will be closed.
      test_results_failed {
        one_day: 2
      }
      presubmit_runs_failed {
        one_day: 1
        seven_day: 1
      }
    }
  }
  priority_hysteresis_percent: 30
  monorail_hostname: "bugs.chromium.org"
  display_prefix: "crbug.com"
}

realms {
  name: "ci"
  test_variant_analysis {
    update_test_variant_task {
      update_test_variant_task_interval {
        seconds: 3600
      }
      test_variant_status_update_duration {
        seconds: 86400
      }
    }
    bq_exports {
      table {
        cloud_project: "chrome-flakiness"
        dataset: "chromium_dev"
        table: "ci_flaky_test_variants"
      }
      predicate {
        # Flaky test variant only.
        status: FLAKY
      }
    }
  }
}

realms {
  name: "try"
  test_variant_analysis {
    update_test_variant_task {
      update_test_variant_task_interval {
        seconds: 3600
      }
      test_variant_status_update_duration {
        seconds: 86400
      }
    }
    bq_exports {
      table {
        cloud_project: "chrome-flakiness"
        dataset: "chromium_dev"
        table: "try_flaky_test_variants"
      }
      predicate {
        # Flaky test variant only.
        status: FLAKY
      }
    }
  }
}

clustering {
  test_name_rules {
		name: "Blink Web Tests"
		pattern: "^ninja://:blink_web_tests/(virtual/[^/]+/)?(?P<testname>([^/]+/)+[^/]+\\.[a-zA-Z]+).*$"
		like_template: "ninja://:blink\\_web\\_tests/%${testname}%"
	}
  test_name_rules {
		name: "Google Test (Value-parameterized)"
		pattern: "^ninja:(?P<target>[\\w/]+:\\w+)/(\\w+/)?(?P<suite>\\w+)\\.(?P<case>\\w+)/\\w+$"
		like_template: "ninja:${target}/%${suite}.${case}%"
  }
  test_name_rules {
		name: "Google Test (Type-parameterized)"
		pattern: "^ninja:(?P<target>[\\w/]+:\\w+)/(\\w+/)?(?P<suite>\\w+)/\\w+\\.(?P<case>\\w+)$"
		like_template: "ninja:${target}/%${suite}/%.${case}"
  }
}
