/* Copyright 2015 The LUCI Authors. All rights reserved.
 * Use of this source code is governed under the Apache License, Version 2.0
 * that can be found in the LICENSE file.
 */

body.interface {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  background-color: #fff;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  clear: both;
}

.clear {
  clear: both;
  margin: 0;
}

.prelude {
  float: left;
}

.main {
  float: left;
}

.epiloge {
  clear: both;
}

.lucy-logo {
  width: 4em;
  float: left;
  margin-right: 10px;
}

.auth {
  position:absolute;
  top:5px;
  right:40px;
}

.alert {
  color: #c30000;
  background-color: #f2dcdc;
  padding: 5px 5px 5px 25px;
  margin-bottom: 20px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-color: #c30000;
  font-size: 20px;
}
a:link,a:visited,a:active {
  color: #444;
}

table {
  border-spacing: 1px 1px;
}

table td {
  padding: 3px 4px 3px 4px;
  text-align: center;
}

.Project {
  min-width: 6em;
}

.LastBuild,.Activity {
  padding: 0 0 0 4px;
}

.LastBuild,.Activity,.Builder,.BuildStep {
  min-width: 5em;
}

/* Chromium Specific styles */
div.BuildResultInfo {
  color: #444;
}

div.Announcement {
  margin-bottom: 1em;
}

div.Announcement>a:hover {
  color: black;
}

div.Announcement>div.Notice {
  background-color: #afdaff;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

div.Announcement>div.Open {
  border: 3px solid #8fdf5f;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

div.Announcement>div.Closed {
  border: 5px solid #e98080;
  padding: 0.5em;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.BuildProperties td.middle {
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
}

td.Time {
  color: #000;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}

td.Activity,td.Change,td.Builder {
  color: #333333;
  background-color: #CCCCCC;
}

td.Change {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

td.Event {
  color: #777;
  background-color: #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

td.Activity {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  min-height: 20px;
  padding: 2px 0 2px 0;
}

td.idle,td.waiting,td.offline,td.building {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
}

.LastBuild {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* Console view styles */
td.DevStatus > table {
  table-layout: fixed;
}

td.DevRev {
  padding: 4px 8px 4px 8px;
  color: #333333;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  background-color: #eee;
  width: 1%;
}

td.DevRevCollapse {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

td.DevName {
  padding: 4px 8px 4px 8px;
  color: #333333;
  background-color: #eee;
  width: 1%;
  text-align: left;
}

td.DevStatus {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

td.DevSlave {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

td.first {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
}

td.last {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

td.DevStatusCategory {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

td.DevStatusCollapse {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}

td.DevDetails {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  background-color: #eee;
  text-align: left;
}

td.DevDetails li a {
  padding-right: 5px;
}

td.DevComment {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  background-color: #eee;
  text-align: left;
}

td.DevBottom {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

td.Alt {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #ddd;
}

li.sublink:nth-child(odd) {
  background-color: #eee;
}

.graph {
  width: 200px;
  text-align: left;
}

.bar {
  display: inline-block;
  height: 10px;
  border: 1px solid black;
}

.idle {
  background-color: #8d4;
}

.busy {
  background-color: #fd3;
}

.offline {
  background-color: #c6c;
}

.account-picture {
  border-radius: 6px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.legend {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  width: 100px;
  max-width: 100px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  height: 14px;
  white-space: nowrap;
}

.DevStatusBox {
  text-align: center;
  height: 20px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

.DevStatusBox a {
  opacity: 0.85;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 90%;
  height: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.DevStatusBox a.notinbuilder {
  border-style: none;
}

.DevSlaveBox {
  text-align: center;
  height: 10px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

.DevSlaveBox a {
  opacity: 0.85;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 90%;
  height: 10px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

a.noround {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  position: relative;
  margin-top: -8px;
  margin-bottom: -8px;
  height: 36px;
  border-top-width: 0;
  border-bottom-width: 0;
}

a.begin {
  border-top-width: 1px;
  position: relative;
  margin-top: 0px;
  margin-bottom: -7px;
  height: 27px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

a.end {
  border-bottom-width: 1px;
  position: relative;
  margin-top: -7px;
  margin-bottom: 0px;
  height: 27px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.center_align {
  text-align: center;
}

.right_align {
  text-align: right;
}

.left_align {
  text-align: left;
}

div.BuildWaterfall {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
  padding: 4px 4px 4px 4px;
  float: left;
  display: none;
  border-width: 1px;
  border-style: solid;
}

/* LastBuild, BuildStep states */
.success, .status-Success, .status-Idle, .tree-status-open, .status.SUCCESS {
  color: #000;
  background-color: #8d4;
  border-color: #4F8530;
}

.failure, .status-Failure, .status-Cancelled, .tree-status-closed, .status.FAILURE, .status.CANCELLED {
  color: #000;
  background-color: #e88;
  border-color: #A77272;
  border-style: solid;
}

.failure-again {
  color: #000;
  background-color: #eA9;
  border-color: #A77272;
  border-style: solid;
}

.status-InfraFailure, .status.INFRA_FAILURE {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

.expired, .status-Expired {
  color: #FFFFFF;
  background-color: #ac39ac;
  border-color: #ACA0B3;
}

.warning, .status-Warning {
  color: #FFFFFF;
  background-color: #fa3;
  border-color: #C29D46;
}

.skipped {
  color: #000;
  background: #AADDEE;
  border-color: #AADDEE;
}

.exception, .retry, .status-Exception, .status-Offline, .tree-status-maintenance {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

.start, .status-NotRun, .status.SCHEDULED {
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

.running, .waiting, td.building, .status-Running, .status-Busy, .tree-status-throttled, .status.STARTED {
  color: #000;
  background-color: #fd3;
  border-color: #C5C56D;
}

.paused {
  color: #FFFFFF;
  background-color: #8080FF;
  border-color: #dddddd;
}

.offline,td.offline,.pending{
  color: #FFFFFF;
  background-color: #777777;
  border-color: #dddddd;
}


.start {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}

.notstarted {
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  background-color: #fff;
}

.closed {
  background-color: #ff0000;
}

.closed .large {
  font-size: 1.5em;
  font-weight: bolder;
}

td.Project a:hover,td.start a:hover {
  color: #000;
}

.mini-box {
  text-align: center;
  height: 20px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

.mini-box a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: -30px;
}

.mini-closed {
  -box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid red;
}

/* grid styles */
table.Grid {
  border-collapse: collapse;
}

table.Grid tr td {
  padding: 0.2em;
  margin: 0px;
  text-align: center;
}

table.Grid tr td.title {
  font-size: 90%;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
}

table.Grid tr td.sourcestamp {
  font-size: 90%;
}

table.Grid tr td.builder {
  text-align: right;
  font-size: 90%;
}

table.Grid tr td.build {
  border: 1px gray solid;
}

/* column container */
div.column {
  margin: 0 2em 2em 0;
  float: left;
}

/* info tables */
table.info {
  border-spacing: 1px;
}

table.info td {
  padding: 0.1em 1em 0.1em 1em;
  text-align: center;
}

table.info th {
  padding: 0.2em 1.5em 0.2em 1.5em;
  text-align: center;
}

table.info .left {
  text-align: left
}

td.value {
  font-weight: bold;
}

table.info td .reason {
  display:block;
  font-weight: bold;
}

.alt {
  background-color: #f6f6f6;
}

ul.alternating li:nth-child(even) {
  background-color: #ddd;
}

li {
  padding: 0.1em 1em 0.1em 1em;
}

li.substeps > ol {
  padding-left: 2em;
}

li.collapsed ol {
  display: none;
}

li.substeps.collapsed > div.result > b:before {
  content: "\25B6";
  padding-right: 4px;
}

li.substeps > div.result > b:before {
  content: "\25BC";
  padding-right: 4px;
}

.file {
  font-weight: bold;
}

.result {
  padding: 0.3em 1em 0.3em 1em;
}

.ui-tooltip {
    white-space: pre-line;
    font-size: medium;
}

/* log view */
.log * {
  vlink: #800080;
  font-family: "Courier New", courier, monotype, monospace;
  font-size: 1.5em;
}

span.duration {
  text-align: right;
  float: right;
  display: inline-block;
}

span.stdout {
  color: black;
}

span.stderr {
  color: red;
}

span.header {
  color: blue;
}
span.ansi30 {
  color: black;
}
span.ansi31 {
  color: red;
}
span.ansi32 {
  color: green;
}
span.ansi33 {
  color: orange;
}
span.ansi34 {
  color: yellow;
}
span.ansi35 {
  color: purple;
}
span.ansi36 {
  color: blue;
}
span.ansi37 {
  color: white;
}
span.hidden {
  display: none;
}

/* revision & email */
.revision .full {
  display: none;
}

.user .email {
  display: none;
}

pre {
  white-space: pre-wrap;
}

/* change comments (use regular colors here) */
pre.comments>a:link,pre.comments>a:visited {
  color: blue;
}

pre.comments>a:active {
  color: purple;
}

.project-favicon-text {
  width: 150px;
  height: 125px;
  text-align: center;
  font-size: 50pt;
  padding-top: 25px;
}

.project a:link {
  text-decoration: none;
}

.project a:visited {
  text-decoration: none;
}

.project a:hover {
  text-decoration: none;
}

.project a:active {
  text-decoration: none;
}

.project img {
  max-width: 140px;
  height: 140px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: block;
}

.project:hover {
  background: #cce;
}

.project {
  font-size: 10pt;
  width: 150px;
  height: 200px;
  background-color: gray;
  margin: 10px;
  float: left;
  padding: .5em;
  background: #ddd;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
  border-radius: 30px 30px 30px 30px;
}

.project-label {
  margin-top: 10px;
  text-align: center;
}

.search {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search .form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#search-text {
  width: 100%;
  font-size: 14pt;
}

.project-console-item img {
  width: 20px;
  height: 20px;
}

.project {
  font-size: 10pt;
}

form.command_forcebuild {
  border-top: 1px solid black;
  padding: .5em;
  margin: .5em;
}

form.command_forcebuild > .row {
  border-top: 1px dotted gray;
  padding: .5em 0;
}

form.command_forcebuild .force-textarea > .label {
  display: block;
}

form.command_forcebuild .force-nested > .label {
  font-weight: bold;
  display: list-item;
}

form.command_forcebuild .force-any .force-text {
  display: inline;
}

div.step-text:first-child {
    display: inline;
}

.non-green li.green {
  display: none;
}
