{{define "title"}}Milo{{end}}

{{define "head"}}{{end}}

{{define "body"}}
<h1>Milo</h1>

{{ if .error }}
Encountered error while loading front page: {{ .error }}
{{ end }}

{{ range .frontpage.CIServices }}
  <h2> {{ .Name }}
    {{ if .Host }} ({{ .Host | linkify }}) {{ end }}
  </h2>
  {{ range .BuilderGroups }}
    <h3> {{ .Name }} </h3>
    {{ range .Builders }}
      <li>{{ . | linkify }}</li>
    {{ else }}
      No builders found...
    {{ end }}
  {{ else}}
    Nothing to see here...
  {{ end }}
{{ end }}

{{end}} <!-- Body -->
