type greeterService struct{}

func (s *greeterService) SayHello(c context.Context, req *HelloRequest) (*HelloReply, error) {
	if req.Name == "" {
		return nil, status.Errorf(codes.InvalidArgument, "Name unspecified")
	}

	return &HelloReply{
		Message: "Hello " + req.Name,
	}, nil
}
