[Unit]
Description=Swarming bot startup
After=network.target

[Service]
Type=simple
User={{.User}}
Environment=SWARMING_EXTERNAL_BOT_SETUP=1
ExecStart=/usr/bin/python {{.Path}} start_bot

[Install]
WantedBy=multi-user.target
