{{define "title"}}Machine DB - Racks{{end}}

{{define "content"}}

<h1>Racks</h1>
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Datacenter</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th class="mdl-data-table__cell--non-numeric">State</th>
        <th class="mdl-data-table__cell--non-numeric">KVM</th>
      </tr>
    </thead>
    <tbody>
     {{range .Racks}}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{.Name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{.Datacenter}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{.Description}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{.State}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{.Kvm}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

{{end}}
