{{define "title"}}
  {{if .IsAnonymous}}
    Sign-in Required
  {{else}}
    An error has occurred
  {{end}}
{{end}}

{{define "content"}}
  {{if eq .Code 403}}
    {{if .IsAnonymous}}
      <p class="lead"> {{.Code}} - Sign-in required</p>
    {{else}}
      <p class="lead"> {{.Code}} - Permission Denied &#x1F61F;</p>
      <p><pre>{{.Error}}</pre></p>
    {{end}}
  {{else}}
    <p class="lead"> {{.Code}} - An error has occurred &#x1F61F;</p>
    <p><pre>{{.Error}}</pre></p>
  {{end}}
  {{if .IsAnonymous}}
      <p>Click <a href="{{.LoginURL}}">here</a> to sign in</p>
  {{end}}
{{end}}
