{{define "title"}}Auth settings{{end}}

{{define "content"}}
<div class="row">
<div class="col-md-offset-2 col-md-8">

<form class="form-horizontal" method="POST">
  <h3>OpenID settings</h3>
  <hr>

  {{.XsrfTokenField}}

  <div class="form-group">
    <label for="DiscoveryURL" class="col-sm-3 control-label">Discovery URL</label>
    <div class="col-sm-9">
      <input
        type="text" class="form-control"
        aria-describedby="DiscoveryURL-help"
        name="DiscoveryURL"
        value="{{.OpenID.DiscoveryURL}}">
      <span id="DiscoveryURL-help" class="help-block">
        Where to grab OpenID Connect discovery document with provider's config.
        Use <a href="https://accounts.google.com/.well-known/openid-configuration">
        https://accounts.google.com/.well-known/openid-configuration</a>
        for Google OpenID Connect provider.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="ClientID" class="col-sm-3 control-label">OAuth client ID</label>
    <div class="col-sm-9">
      <input
        type="text" class="form-control"
        aria-describedby="ClientID-help"
        name="ClientID"
        value="{{.OpenID.ClientID}}">
      <span id="ClientID-help" class="help-block">
        Identifies OAuth2 Web Client representing the application. Create
        one in <a href="https://console.developers.google.com">Cloud Console</a>
        if using Google OpenID Connect provider. It is fine to reuse an existing
        OAuth2 client as long as you register additional redirect URI in its
        configuration.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="ClientSecret" class="col-sm-3 control-label">OAuth client secret</label>
    <div class="col-sm-9">
      <input
        type="text" class="form-control"
        aria-describedby="ClientSecret-help"
        name="ClientSecret"
        value="{{.OpenID.ClientSecret}}">
      <span id="ClientSecret-help" class="help-block">
        Secret associated with OAuth2 Web Client. Grab it from
        <a href="https://console.developers.google.com">Cloud Console</a>.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="RedirectURI" class="col-sm-3 control-label">Redirect URI</label>
    <div class="col-sm-9">
      <input
        type="text" class="form-control"
        aria-describedby="RedirectURI-help"
        name="RedirectURI"
        value="{{.OpenID.RedirectURI}}">
      <span id="RedirectURI-help" class="help-block">
        OpenID callback URI that must be set to <b>{{.DefaultRedirectURI}}</b>.
        Configure OAuth2 Web Client with exact same value.
      </span>
    </div>
  </div>

  <h3>Authorization settings</h3>
  <hr>
  <i>TODO</i>

  <hr>

  <div class="form-group">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Save settings</button>
    </div>
  </div>
</form>

</div>
</div>
{{end}}
