# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#

.gcloudignore
.gitignore

/frontend/ui/*
!/frontend/ui/dist

/service-ui/ui/*
!/service-ui/ui/dist

# Experimental setup for user-initiated-rollback. See b/381131084.
/service-ui-new/ui/*
!/service-ui-new/ui/dist
/service-ui-old/ui/*
!/service-ui-old/ui/dist
