# Deploy tool AppEngineResources for Tumble.

# This index supports the tumble installation.
index <
  kind: "tumble.Mutation"
  property <
    name: "ExpandedShard"
  >
  property <
    name: "TargetRoot"
  >
>

# This index supports the tumble delayed mutations.
index <
  kind: "tumble.Mutation"
  property <
    name: "TargetRoot"
  >
  property <
    name: "ProcessAfter"
  >
>
