<!DOCTYPE html>

<head>
  <title>LUCI Analysis</title>
  <meta http-equiv="Content-Security-Policy" content="require-trusted-types-for 'script'">
  <link href="/static/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  <script>
    window.luciAnalysisHostname = '{{.LuciAnalysisHostname}}';
    window.monorailHostname = '{{.MonorailHostname}}';
    window.fullName = '{{.UserName}}';
    window.email = '{{.UserEmail}}';
    window.avatar = '{{.UserAvatar}}';
    window.isAnonymous = {{.IsAnonymous}};
    window.logoutUrl = '{{.LogoutURL}}';
    window.loginUrl = '{{.LoginURL}}';
    window.isPolicyBasedBugManagementEnabled = {{.IsPolicyBasedBugManagementEnabled}};
  </script>
</head>

<body>
  <div id="app-root"></div>
  <div id="modal-root"></div>
  <script src="/static/main.js"></script>
</body>