<!DOCTYPE html>

<head>
  <title>LUCI Analysis</title>
  <meta http-equiv="Content-Security-Policy" content="require-trusted-types-for 'script'">
  <link href="/static/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  <script>
    window.luciAnalysisHostname = '{{.LuciAnalysisHostname}}';
    window.monorailHostname = '{{.MonorailHostname}}';
    window.fullName = '{{.UserName}}';
    window.email = '{{.UserEmail}}';
    window.avatar = '{{.UserAvatar}}';
    window.isAnonymous = {{.IsAnonymous }};
    window.logoutUrl = '{{.LogoutURL}}';
    window.loginUrl = '{{.LoginURL}}';
    window.isPolicyBasedBugManagementEnabled = {{.IsPolicyBasedBugManagementEnabled }};
  </script>
  <style>
    #app-root {
      min-height: calc(100vh - 46px)
    }

    #footer {
      background-color: #f2f2f2;
      border-top: solid 1px #dadce0;
      display: flex;
      justify-content: end;
      gap: 15px;
      line-height: 15px;
      font-size: 14px;
      padding: 15px 15px;
      margin-top: auto;
    }

    #footer a {
      text-decoration: none;
      color: rgb(31, 31, 31);
    }
  </style>
</head>

<body>
  <div id="app-root"></div>
  <div id="modal-root"></div>
  <script src="/static/main.js"></script>
  <div id="footer">
    <div><a href="https://policies.google.com/privacy">Privacy</a></div>
    <div><a href="https://policies.google.com/terms">Terms</a></div>
  </div>
</body>