<!--
  Copyright 2020 The LUCI Authors. All rights reserved.
  Use of this source code is governed under the Apache License, Version 2.0
  that can be found in the LICENSE file.
-->
{{define "body"}}
<table>
  <thead>
    <th>Name</th>
    <th>Size</th>
    <th>Digest</th>
  </thead>
  <tbody>
  {{range .Directories}}
    <tr>
      <td><a href="{{ treeURL $.Instance . }}">{{.Name}}/</a></td>
      <td></td>
      <td><pre class="no-margin">{{.Digest.Hash}}/{{.Digest.SizeBytes}}</pre></td>
    </tr>
  {{end}}
  {{range .Symlinks}}
    <tr>
        <td>{{.Name}}</td>
        <td></td>
        <td>symlink target: {{.Target}}</td>
    </tr>
  {{end}}
  {{range .Files}}
    <tr>
      <td><a href="{{ getURL $.Instance . }}" target="_blank">{{.Name}}</a></td>
      <td>{{.Digest.SizeBytes | readableBytes}}</td>
      <td><pre class="no-margin">{{.Digest.Hash}}/{{.Digest.SizeBytes}}</pre></td>
    </tr>
  {{end}}
  <tbody>
</table>

{{end}} <!-- body -->
