/*
  Make sure jquery UI components don't override the font as specified
  for body.interface. If jquery UI components proliferate to other
  pages you may want to move this directly into default.css.
*/
.ui-widget {
  font-family: Verdana, sans-serif;
  font-size: 10px;
}

/* Turns off the tab widget's border. */
#tabs.ui-widget-content {
  border: 0px;
}
/*
  TODO(dburger): these status styles could come from default.css but are
  apparently overridden by styles from .vis-item. This could likely be
  fixed by tweaking the style in default.css to get higher specificity.

  In the following the second selector with the "a" tag
  takes care of a specificity problem where jquery's
  .ui-widget-content a {color: #333;} ends up winning for a tags nested in
  a div with one of the following classes as is done on the "Results"
  time list that gets the .ui-widget-content from being inside jquery
  tabs on the timeline page.
*/
.status-Expired, .status-Expired a {
  color: #FFFFFF;
  background-color: #ac39ac;
  border-color: #ACA0B3;
}

.status-Exception, .status-Exception a {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

.status-InfraFailure, .status-InfraFailure a {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

.status-Warning, .status-Warning a {
  color: #FFFFFF;
  background-color: #fa3;
  border-color: #C29D46;
}

.status-NotRun, .status-NotRun a {
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

.status-Running, .status-Running a {
  color: #000;
  background-color: #fd3;
  border-color: #C5C56D;
}

.status-Failure, .status-Cancelled {
  color: #000;
  background-color: #e88;
  border-color: #A77272;
  border-style: solid;
}

.status-Failure a, .status-Cancelled a {
  color: #000;
  background-color: #e88;
  border-color: #A77272;
}

.status-Success, .status-Success a {
  color: #000;
  background-color: #8d4;
  border-color: #4F8530;
}

