/* Makes the group title take up the full width. */
.vis-labelset .vis-label .vis-inner {
  display: block;
}

/*
  Makes items labels display fully even if time range is too small
  to contain it
*/
.vis-item .vis-item-overflow {
  overflow: visible;
  cursor: pointer;
}

.group-title {
  font-weight: bold;
  padding: 5px;
}

/*
  Positioned absolutely so that the timeline renders directly over it
  and does not jump when we remove this from the page.
*/
#timeline-rendering {
  position: absolute;
}
