/* Makes the group title take up the full width. */
.vis-labelset .vis-label .vis-inner {
  display: block;
}

/*
  Makes items labels display fully even if time range is too small
  to contain it
*/
.vis-item .vis-item-overflow {
  overflow: visible;
  cursor: pointer;
}

.group-title {
  font-weight: bold;
  padding: 5px;
}

/*
  TODO(dburger): these status styles could come from default.css but are
  apparently overridden by styles from .vis-item. This could likely be
  fixed by tweaking the style in default.css to get higher specificity.
*/
.status-Expired {
  color: #FFFFFF;
  background-color: #ac39ac;
  border-color: #ACA0B3;
}

.status-Exception {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

.status-InfraFailure {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

.status-Warning {
  color: #FFFFFF;
  background-color: #fa3;
  border-color: #C29D46;
}

.status-NotRun {
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

.status-Running {
  color: #000;
  background-color: #fd3;
  border-color: #C5C56D;
}

.status-Failure, .status-Cancelled {
 color: #000;
  background-color: #e88;
  border-color: #A77272;
  border-style: solid;
}

.status-Success {
  color: #000;
  background-color: #8d4;
  border-color: #4F8530;
}
