{{define "title"}}Cron Service :: {{.Job.ProjectID}} :: {{.Job.JobID}}{{end}}

{{define "head"}}
<style type="text/css">
#invocations-table {
  table-layout: fixed;
}
</style>
{{end}}

{{define "content"}}

<ol class="breadcrumb">
  <li><a href="/">All projects</a></li>
  <li><a href="/jobs/{{.Job.ProjectID}}">{{.Job.ProjectID}}</a></li>
  <li class="active"><a href="/jobs/{{.Job.ProjectID}}/{{.Job.JobID}}">{{.Job.JobID}}</a></li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-sm-3"><b>State:</b> {{.Job.State}}</div>
    <div class="col-sm-3"><b>Schedule:</b> {{.Job.Schedule}}</div>
    <div class="col-sm-3"><b>Next run:</b> {{.Job.NextRun}}</div>
    <div class="col-sm-3"><b>Actions:</b>
      <form style="display: inline"
            action="/actions/runJob/{{.Job.ProjectID}}/{{.Job.JobID}}"
            method="POST">
        {{.XsrfTokenField}}
        <button style="display: inline" type="submit" class="btn btn-danger btn-xs">
          Run now
        </button>
      </form>
    </div>
  </div>

  <div class="col-sm-12">
    <hr>
  </div>

  <h4>Definition (rev {{.Job.Revision}})</h4>
  <div class="row">
    <div class="col-sm-12">
      <pre>{{.Job.Definition}}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-condensed" id="invocations-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Started</th>
            <th>Triggered by</th>
            <th>Duration</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {{range .Invocations }}
          <tr class="{{.RowClass}}">
            <td><a href="/jobs/{{$.Job.ProjectID}}/{{$.Job.JobID}}/{{.InvID}}">{{.InvID}}</a></td>
            <td>{{.Started}}</td>
            <td>{{.TriggeredBy}}</td>
            <td>{{.Duration}}</td>
            <td>
            {{if .ViewURL}}
              <a href="{{.ViewURL}}" target="_blank">{{.Status}}</a>
            {{else}}
              {{.Status}}
            {{end}}
            </td>
          </tr>
        {{end}}
        </tbody>
      </table>
      <nav>
        <ul class="pager">
          {{if .PrevCursor}}
            <li class="previous">
              {{if eq .PrevCursor "NULL"}}
              <a href="/jobs/{{$.Job.ProjectID}}/{{$.Job.JobID}}">
              {{else}}
              <a href="/jobs/{{$.Job.ProjectID}}/{{$.Job.JobID}}?c={{.PrevCursor}}">
              {{end}}
                <span aria-hidden="true">&larr;</span> Newer
              </a>
            </li>
          {{else}}
            <li class="previous disabled">
              <a href="#"><span aria-hidden="true">&larr;</span> Newer</a>
            </li>
          {{end}}
          {{if .NextCursor}}
            <li class="next">
              <a href="/jobs/{{$.Job.ProjectID}}/{{$.Job.JobID}}?c={{.NextCursor}}">
                Older <span aria-hidden="true">&rarr;</span>
              </a>
            </li>
          {{else}}
            <li class="next disabled">
              <a href="#">Older <span aria-hidden="true">&rarr;</span></a>
            </li>
          {{end}}
        </ul>
      </nav>
    </div>
  </div>

</div>

{{end}}
