{{define "title"}}Cron Service :: {{.ProjectID}}{{end}}

{{define "head"}}
<style type="text/css">
#jobs-table {
  table-layout: fixed;
}
</style>
{{end}}

{{define "content"}}

<ol class="breadcrumb">
  <li><a href="/">All projects</a></li>
  <li class="active">{{.ProjectID}}</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table" id="jobs-table">
        <thead>
          <tr>
            <th>Job</th>
            <th>Schedule</th>
            <th>State</th>
            <th>Overruns</th>
            <th>Next run</th>
          </tr>
        </thead>
        <tbody>
        {{range .Jobs }}
          <tr>
            <td><a href="/jobs/{{.ProjectID}}/{{.JobID}}">{{.JobID}}</a></td>
            <td>{{.Schedule}}</td>
            <td>{{.State}}</td>
            <td>{{.Overruns}}</td>
            <td>
              {{.NextRun}}
              <form style="display: inline"
                    action="/actions/runJob/{{.ProjectID}}/{{.JobID}}"
                    method="POST">
                {{$.XsrfTokenField}}
                <button style="display: inline" type="submit" class="btn btn-danger btn-xs">
                  Run now
                </button>
              </form>
            </td>
          </tr>
        {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{end}}
