inc/bower_components
node_modules

# Gulp build/dist artifacts.
dist/*/**
!dist/*/.keep
apps/*/.tmp

# Ignore compiled JavaScript.
inc/*/*.js
inc/*/*.js.map

# Tag files for installed Bower/NPM.
.npm.installed
.bower.installed
